@page "/Login"
@using ParkPal.Components.Layout
@layout TopNav

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
        <link rel="stylesheet" href="/bootstrap/CSS/darkmode.css" >
    <link rel="stylesheet" href="/bootstrap/CSS/Parkpaldesign.css">

</head>

<body class="login-page">
 <!--   <div class="login-page-logo">
        <img src="/parkpallogo.png" alt="Logo">
    </div> -->
    <div class="login-page-container">
        <div class="login-page-box">
            <h1>Login</h1>
            <input type="email" class="login-page-email-input" placeholder="Email">
            <input type="password" class="login-page-password-input" placeholder="Password">
            <button onclick="return validateLoginForm()" class="login-page-login-button">Login</button>
            <p>Don't have an account? <a href="#" onclick="redirectToHome()" class="login-page-signup-link">Sign Up</a></p>
        </div>
    </div>
    <script>

        //makes sure both inputs were entered itherwise dislays a message/alert

        function validateLoginForm() {
             const emailInput = document.querySelector('input[type="email"]');
            const passwordInput = document.querySelector('input[type="password"]');

            const email = emailInput.value;
             const password = passwordInput.value;

            if (email.trim() === '' || password.trim() === '') {
                alert('Please enter both email and password.');
                return false;
            }

            return true;
        }

        function redirectToHome() {
            window.location.href = 'https://localhost:7279/';
        }
    </script>

    <script src="/bootstrap/JS/darkmode.js"></script>

</body>





