@page "/Login"

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            background-color: #f4f4f4;
        }

        .container {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .signup-box,
        .login-box {
            background-color: #fff;
            border-radius: 10px;
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
            padding: 20px;
            width: 400px;
            margin: 10px;
        }

            .signup-box input,
            .login-box input,
            .signup-box button,
            .login-box button {
                display: block;
                width: calc(100% - 24px);
                padding: 10px;
                margin-bottom: 10px;
                border-radius: 5px;
                border: 1px solid #ccc;
            }

            .signup-box button,
            .login-box button {
                background-color: #007bff;
                color: #fff;
                border: none;
                border-radius: 5px;
                cursor: pointer;
                transition: background-color 0.3s ease;
            }

                .signup-box button:hover,
                .login-box button:hover {
                    background-color: #0056b3;
                }

        p a {
            color: blue;
            text-decoration: none;
        }
    </style>
</head>

<body>
    <div class="container">
        <div class="login-box">
            <h1>Login</h1>
            <input type="email" placeholder="Email">
            <input type="password" placeholder="Password">
            <button onclick="return validateLoginForm()">Login</button>
            <p>Don't have an account? <a href="#" onclick="redirectToHome()">Sign Up</a></p>
        </div>
    </div>
    <script>

        //makes sure both inputs were entered itherwise dislays a message/alert

        function validateLoginForm() {
             const emailInput = document.querySelector('input[type="email"]');
            const passwordInput = document.querySelector('input[type="password"]');

            const email = emailInput.value;
             const password = passwordInput.value;

            if (email.trim() === '' || password.trim() === '') {
                alert('Please enter both email and password.');
                return false;
            }

            return true;
        }

        function redirectToHome() {
            window.location.href = 'https://localhost:7279/';
        }
    </script>
</body>





